@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.ant-form-item-label > label {
  color: rgb(241, 245, 243) !important;
  font-weight: 600 !important;
  font-size: 18px !important;
}
.ant-select-item-option-content {
  font-weight: bold !important;
}
.ant-select-selection-item {
  font-weight: bold !important;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.input-button {
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
}

.input-button:hover {
  background-color: #1f1f2d !important;
  color: #ffffff !important;
  border-color: #1f1f2d !important;
}




button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
